body { 
    font-family: sans-serif; 
    text-align: center; 
    background: #f4f4f4; 
}
.card { 
    background: white; 
    padding: 20px; 
    border-radius: 15px; 
    display: inline-block; 
    margin-top: 50px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}
#data { 
    font-size: 3em; 
    color: #007bff; 
}